@import "@radix-ui/colors/mauve.css";

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  height: 100%;
  max-height: 100%;
  color: grey;
}

.sidebarTitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 1rem 0.5rem 0;
}

.sidebarSeparator {
  height: 1px;
  background-color: var(--mauve-5);
  margin: 0rem 0.5rem;
}

.sidebarList {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  height: 100%;
  overflow-y: auto;
}

.newMeetingButton {
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: #eee;
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
